body {
  font-family: 'Luxurious Roman', serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #000; /* Color de fondo negro para el efecto de estrellas */
  color: #f0f0f0; /* Color de texto claro para contraste */
  overflow: hidden; /* Para evitar scrollbars */
}

header {
  background-color: #000000; 
  color: #ecf0f1; /* Color claro para el texto */
  text-align: center;
  padding: 1em 0;
  animation: fadeInDown 1s ease-out;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  color: #ecf0f1; /* Blanco claro */
}

main {
  padding: 2em;
  text-align: center;
  animation: fadeIn 1.5s ease-in;
}

footer {
  background-color: #000000; 
  color: #ecf0f1; /* Blanco claro */
  text-align: center;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  animation: fadeInDown 1s ease-out;
}

a {
  color: #3498db; /* Azul brillante */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.social-links {
  margin: 1em 0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.twitter {
  background-color: #1e272e; /* Azul oscuro */
  color: #fff;
}

.twitter:hover {
  background-color: #0a1f2e;
  transform: scale(1.05);
}

.instagram {
  background-color: #641b29; /* Rojo oscuro */
  color: #fff;
}

.instagram:hover {
  background-color: #461611;
  transform: scale(1.05);
}

.main-btn {
  background-color: #27ae60; /* Verde esmeralda */
  color: #fff;
}

.main-btn:hover {
  background-color: #229954;
  transform: scale(1.05);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeInDown {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

#stars {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('https://www.transparenttextures.com/patterns/stardust.png') repeat;
  z-index: 0;
}

.meteor {
  position: absolute;
  width: 2px;
  height: 100px;
  background: linear-gradient(45deg, white, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 3s linear infinite;
}

@keyframes meteor {
  0% {
    transform: translate(0, 0) rotate(-45deg);
    opacity: 1;
  }
  100% {
    transform: translate(100vw, 100vh) rotate(-45deg);
    opacity: 0;
  }
}
