<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <title>{{ page.title }}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/ico/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/ico/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/ico/favicon-16x16.png' | relative_url }}">
  <link rel="manifest" href="{{ '/assets/ico/site.webmanifest' | relative_url }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  <meta property="og:title" content="Página personal de Sebastián Berrueta">
  <meta property="og:description" content="Bienvenido a mi página personal. Aquí encontrarás información sobre mis proyectos y mucho más.">
  <meta property="og:url" content="https://berrueta.uy">
  <meta property="og:image" content="https://www.transparenttextures.com/patterns/stardust.png">
  <meta name="facebook-domain-verification" content="4qm3pqg14v22cg7zkglgx3dhouykla" />
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YQK5TGVLX1"></script>
  <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'G-YQK5TGVLX1');
  </script>
</head>
<body>
  <div id="status-bar"></div>
  <div id="stars"></div>
  <div id="content-wrapper">
    <header>
      <h1>{{ page.title1 }}</h1>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <p>&copy; {{ site.time | date: '%Y' }} | <a href="mailto:contacto@berrueta.uy">Contacto</a></p>
    </footer>
  </div>
  <script src="{{ '/assets/js/stars.js' | relative_url }}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var statusBar = document.getElementById('status-bar');
      var stars = document.getElementById('stars');
      var lastScrollTop = 0;
      var isIOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
      
      if (isIOS) {
        statusBar.style.height = '44p';
        document.body.style.paddingTop = '44px';
      } else {
        statusBar.style.display = 'none';
        document.body.style.paddingTop = '0';
      }

      window.addEventListener('scroll', function() {
        var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        stars.style.transform = 'translateY(' + (scrollTop * 0.3) + 'px)';
        lastScrollTop = scrollTop <= 0 ? 0 : scrollTop;
      }, false);
    });
  </script>
</body>
</html>